.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
  
    @include media-query($on-mobile) {
      font-size: 28px;
    }
}

.work-bubble {
  float: left;
  padding-right: 20px;
  width: 100px;
  height: 100px;
}
